*{
    padding: auto;
}
div h1.name{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background: rgb(51, 117, 143);
    color: white;
}
h3{
    text-decoration: underline;
}
div{
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.intro{
    text-align: center;
}